<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <!-- <div class="header">
                    <h4 class="title"></h4>
                    <p class="category">Here is a subtitle for this table</p>
                </div> -->

                <div class="content table-responsive table-full-width">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Email</th>
                                <th> </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let client of clients | async">
                                <td>{{client.name}}</td>
                                <td>{{client.email}}</td>
                                <td><button (click)="editClient(client.$key)" class="btn btn-info btn-fill btn-wd">Edit</button></td>
                                <td><button (click)="deleteClient(client.$key)" class="btn btn-danger btn-fill btn-wd">Delete</button></td>
                                <td><button (click)="goTo(client.$key)" class="btn btn-success btn-fill btn-wd">Payments</button></td>
                            </tr>

                            <div infiniteScroll [infiniteScrollDistance]="30" [infiniteScrollThrottle]="1000" (scrolled)="onScroll()">
                            </div>
                            <div *ngIf="!finished">
                                <div class="loader-container enquiries-container">
                                    <div class="loader"></div>
                                </div>
                            </div>

                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
</div>